*{
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
}

body{
    min-width: 600px;
    background: 
    /* transparent red overlay */
    linear-gradient(to top, rgba(255,0,0,0.20), rgba(255,0,0,0.20)), 
    /* bottom image*/
    url('./assets/images/background.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    min-height: 100vh;
    display: flex;
    padding: 5rem;
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-top: 10rem;
    margin: 0 auto;
}

.weather-info{
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}

.card-left{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.card-left .forecast{
    font-size: 2rem;
}

.card-left .city{
    margin: 0;
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.card-left .date{
    font-size: 1.5rem;
    color: white;
    opacity: 1;
    margin-bottom: 0.5rem;
}

.card-right{
    display: flex;
    align-items:center;
}

.card-right span{
    font-size: 8rem;
}

.card-bottom {
    display: flex;
    gap: 1rem;
}

.info-left .temp{
    font-size: 5rem;
    padding-right: 1rem;
    border-right: 2px solid white;
}

.temp span{
    font-size: 1rem;
}

.info-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    font-size: 1.25rem;
    font-weight: 600;
}

/* ---- FORM STYLES ---- */

.form-error-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.form-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding: 6px 0;
    border-bottom: 2px solid white;
}

.form-container input {
    background: transparent;
    border: none;
    height: 100%;
    color: azure;
    font-weight: 600;
    font-size: 1.25rem;
    outline: none;
}

input::placeholder{
    color: white;
    opacity: 0.85;
}

.searchBtn{
    border: none;
    background: transparent;
    cursor: pointer;
}

.searchBtn span {
    font-size: 2rem;
}

.req-error{
    font-weight: 600;
    font-size: 1.25rem;
    display: none;
}


/* ----- Tablets & small laptops ----- */

@media (max-width: 1200px) {
    body{
        background-size: cover;
    }

    
    .container{
        padding: 10rem 0;
    }

    .top{
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .card-left{
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
        
    }

    .card-right{
        justify-content: center;
    }

    .weather-info{
        display: block;
        margin-bottom: 2rem;
    }

}




/* ----- Mobile Devices ----- */

@media  (max-width: 600px) {

    body{
        background-size:cover;
        min-width: 300px;
    }

    .container{
        padding: 10rem 0;
        
    }

    .top{
        margin: 0;
        padding: 0;
        gap: 0;
    }

    .card-left{
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .card-right{
        justify-content: center;
    }

    .card-right span{
        font-size: 6rem;
    }

    .weather-info{
        display: block;
        margin-bottom: 2rem;
    }

    /* FONT SIZES */
    /* DEFAULT = 1rem */
    * {
        font-size: 1rem;
    }

    .card-left .forecast{
        font-size: 1.75rem;
    }

    .card-left .city{
        font-size: 3.5rem;
    }

    .card-left .date{
        font-size: 1.25rem;
    }

    .info-left .temp{
        font-size: 3rem;
    }

    .form-container input {
        font-size: 1rem;
    }

    .searchBtn span {
        font-size: 1.5rem;
    }

}
